@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;500&display=swap');

:root{
    --primary-color: #F46036;
    --primary-text : #223127;
    --background-color : #C8C8C8;
    --border-color: #747474;
    --light-gray-color: #bebebe;
    --white-color: #FFFFFF;
}
body{
    font-size : 16px ;
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  max-width: 100%;
}
.App_wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
    margin: 0 auto;
  }